

*{
    font-family: sans-serif;
    }
    
    body{
        background:linear-gradient(rgba(0, 0, 0, 0.523),rgba(216, 104, 231, 0.737)),url(../img/HMOSH.png);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
     
     h1{
        color: antiquewhite;
        text-align: center;
        justify-content: center;
       font-size:50px;
    }
    
    .background{
         background:linear-gradient(125deg, rgba(51, 233, 255 ),rgba(208, 18, 246));
         
        background-position: center;
        height: 50vh;
       width: 500px;
       position: absolute;
       top: 50%;
       left: 50%;
       border-radius: 50px;
        transform:translate(-50%,-50%);
        animation: neon-border 3s ease-in-out infinite;
    }
    @keyframes neon-border{
        0%{
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.416),0 0 40px rgba(13, 245, 245, 0.239);
        }
        25%{
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.416),0 0 80px rgba(13, 245, 245, 0.239);
        }
        50%{
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.416),0 0 120px rgba(13, 245, 245, 0.239);
        }
        75%{
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.416),0 0 80px rgba(13, 245, 245, 0.239);
        }
        100%{
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.416),0 0 40px rgba(13, 245, 245, 0.239);
        
        }
    }
input[type=text] {
        
        position: absolute;
        top: 26%;
        left: 26%;
        height: 5%;
        width: 50%;
        font-size: 16px;
       color: aliceblue;
       border: none;
       border-bottom: 1px solid white;
       outline: none;
       background: transparent;
       
    }
    label {
        position: absolute;
        top: 25%;
        left: 25%;
        padding: 10px;
        font-size: 16px;
        color: gray;
        pointer-events: none;
        transition: all 0.3s;
      }
      
    input[type=email]{
        position: absolute;
        top: 45%;
        left: 26%;
        height: 5%;
        width: 50%;
        font-size: 16px;
        color: aliceblue;
        border: none;
        border-bottom: 1px solid white;
        outline: none;
        background: transparent;
       
    }
    input[type=password]{
     position: absolute;
     top:64%;
     left: 26%;
     height: 5%;
     width: 50%;
     font-size: 16px;
     color: aliceblue;
     border: none;
     border-bottom: 1px solid white;
     outline: none;
     background: transparent;
    }
    .fa-file-signature  {
       
       position: absolute;
       top: 27%;
       left: 20%;
       padding: 4px;
       border-radius: 10px;
       }
     .e .fa-solid {
    
    position: absolute;
    top: 46%;
    left: 20%;
    padding: 4px;
    border-radius: 15px;
    }
     .fa-lock{
    
    position: absolute;
    top: 65%;
    left: 20.4%;
    padding: 4px;
    border-radius: 10px;
    }
    
    
     div .login button{
        position: absolute;
        top: 80%;
        left: 41.2%;
        border:2px;
        border-radius: 30px;
        padding: 20px;
        background-color:rgba(51, 233, 255 );
        color:rgb(22, 31, 200);
        transition: 1s;
    }
    div .login button:hover{
        position: absolute;
        top: 80%;
        left: 41%;
        border:2px;
        border-radius: 30px;
        padding: 20px;
        background-color: rgba(208, 18, 246);
        color:rgb(0, 0, 0);
    }
    .pages  {
        background-position: center;
        position: absolute;
        top: 22.8%;
        left: 48.3%;
        display:flex;
        text-transform: uppercase
        
    }
    .pages button{
        
        background:linear-gradient(125deg, rgba(51, 233, 255 ),rgba(208, 18, 246));
        height: 30px;
        color: aliceblue;
        animation: neon-border 3s ease-in-out infinite;
        border: 2px;
        transition: 0.5s;
    }
    .pages button:hover{
      
    color:black;
    padding: 2px;
    border-radius: 10px;
    position:relative;
    }
    .pages button:active{
      background: cornflowerblue;
        color:rgba(0,0,0,0.75);
        }
    
    
    